{% extends "sisteqmed/base_generic.html" %}

{% block content %}
    <div class="container">
        <div class="row">
        <h2 class="teal-text">Recuperar senha</h2>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
                <h5 class="teal-text">Digite seu email:</h5>
                <p>{{ form.email }}</p>
                <button class="waves-effect waves-light btn" type="submit">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}