{% extends "sisteqmed/base_generic.html" %}

{% block content %}
    {% if validlink %}
            <div class="container" style="margin-top: 60px">
        <div class="row">
            <div class="col s10 offset-s1 z-depth-3">
                <p>Por favor digite e confirme sua nova senha.</p>
                <form action="" method="post">
                {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">Nova senha:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Digite novamente:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="waves-effect waves-light btn" type="submit">Change my password</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
            <h2 class="teal-text">
                Recuperação de senha falhou.
            </h2>
            <p>O link the recuperação de senha é inválido, possivelmente porque ele já foi utilizado. Por favor, peça um novo link.</p>
        </div>
    {% endif %}
{% endblock %}