{% extends "sisteqmed/base_generic.html" %}

{% block content %}
    <div class="container" style="margin-top: 30px">
        <h4 class="header center teal-text accent-4">Cadastrar novo equipamento</h4>
        <div class="row" style="margin-top: 20px">
            <div class="col s8 offset-s2 z-depth-3" style="padding: 10px">
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button class="waves-effect waves-light btn teal" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}